# Derlenmiş ikili dosyalar
*.exe
*.dll

# Geçici ve yedek dosyalar
*.bak
*.tmp
*.log
*.old
error_log.txt
user_settings.json

# Node bağımlılıkları
node_modules/

# IDE & Sistem
.vscode/
.idea/
Thumbs.db
Desktop.ini

PUSH_GITHUB.bat
